.banner_main_image{
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color:white;
    background: url("bg2.jpg") no-repeat center center;
    background-size: cover;
}
.banner_main_image1{
  padding-top: 75px;
  padding-bottom: 50px;
  text-align: center;
  color:white;
  background: url("bg2.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  background-position: center;
}
.banner-content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-left: 20%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(13, 8, 42, 0.4);
    max-width: 660px;
 
}
.banner-heading{
    font-family: "Montserrat-Bold";
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: center;
}
.banner-paragraph{
    font-family: "Montserrat-Bold";
    font-size: 1.5rem;
    line-height: 1.5;
    
}
.banner-image{
    height: 40%;
    width: 40%;
    padding-bottom: 100px;
}

/* navbar */

ul#menu {
  list-style: none;
  width: 200px;
  margin-top: 20px;
}

ul#menu li {
  margin: 5px 0;
  opacity: 0;
  transition: 0.5s all cubic-bezier(0.31,-0.105,0.43,1.4);
}

ul#menu li:nth-child(even) {
  transform: translateX(50px);
}

ul#menu li:nth-child(odd) {
  transform: translateX(-50px);
}

ul#menu li:nth-child(1) {
  transition-delay: 0.1s;
}

ul#menu li:nth-child(2) {
  transition-delay: 0.2s;
}

ul#menu li:nth-child(3) {
  transition-delay: 0.3s;
}

ul#menu li:nth-child(4) {
  transition-delay: 0.4s;
}

ul#menu.active li {
  opacity: 1;
  transform: translateX(0px);
}

ul#menu li a {
  background-color: #fff;
  display: block;
  padding: 8px 20px;
  font-weight: 500;
  color: rgba(5, 5, 5, 0.4);
  text-decoration: none;
  border-radius: 3px;
}
.navbar-arrow{
  font-size: 2rem;
}


/* login form */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
/* .bg-img{
  background: url('bg5.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
} */
.bg-img:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: rgba(0,0,0,0.7); */
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%,-50%);
  background-color: rgba(5, 5, 5, 0.4);
  
}
.content header{
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Montserrat',sans-serif;
}
.field{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
}
.field span{
  color: #222;
  width: 40px;
  line-height: 45px;
}
.field input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.space{
  margin-top: 16px;
}
.show{
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.pass-key:valid ~ .show{
  display: block;
}
.pass{
  text-align: left;
  margin: 10px 0;
}
.pass a{
  color: white;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
}
.pass:hover a{
  text-decoration: underline;
}
.field input[type="submit"]{
  background: #3498db;
  border: 1px solid;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.field input[type="submit"]:hover{
  background: grey;
}
.login{
  color: white;
  margin: 20px 0;
  font-family: 'Poppins',sans-serif;
}
.links{
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px 0;
}
.facebook,.instagram{
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}
.facebook{
  margin-left: 0;
  background: #4267B2;
  border: 1px solid #3e61a8;
}
.instagram{
  background: #E1306C;
  border: 1px solid #df2060;
}
.facebook:hover{
  background: #3e61a8;
}
.instagram:hover{
  background: #df2060;
}
.links i{
  font-size: 17px;
}
i span{
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.signup{
  font-size: 15px;
  color: white;
  font-family: 'Poppins',sans-serif;
}
.signup a{
  color: #3498db;
  text-decoration: none;
}
.signup a:hover{
  text-decoration: underline;
}

/* feature section */

#features{
  position: relative;
  z-index: 1;
}
.feature-box{
  padding: 5%;
}
.feature-title{
  font-size: 1.5rem;
}
.icon{
  color: #beb4b4;
  font-size: 4rem;
  padding: 5%;
}
.icon:hover{
  color: #716368;
}

/* testimonial section */

#testimonials{  
  /* background-color: #ef8172; */
  padding: 10%;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-para{
  font-size: 1.2rem;
  line-height: 1.5;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* for main page content */

.main_heading{
  font-family: "Montserrat-Bold";
    font-size: 2.5rem;
    line-height: 1.5;
    text-align: center;
    padding: 50px;
}

.button-link {
  display: inline-block;
  background-color: rgb(22, 14, 69);
  color: #ffffff;
  padding: 12px 24px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button-link:hover {
  background-color: #716368;
}

.link {
  color: inherit;
  text-decoration: none;
  color: white;
}

/* Extra part in index page */

/* Add padding to the features section */
#features {
  padding: 50px 0;
}

/* Style the feature boxes */
.feature-box {
  text-align: center;
  margin-bottom: 30px;
}

/* Style the icons in the feature boxes */
.feature-box i {
  color: #3498db;
  font-size: 4rem;
  margin-bottom: 20px;
}

/* Add padding to the testimonials section */
#testimonials {
  padding: 50px 0;
}

/* Style the testimonial carousel */
#testimonial-carousel {
  margin-top: 30px;
}

/* Style the testimonial items */
.carousel-item {
  text-align: center;
  color: white;
}

/* Style the testimonial text and paragraph */
.testimonial-text {
  font-size: 2rem;
  margin-bottom: 20px;
}

.testimonial-para {
  font-size: 1.2rem;
  line-height: 1.6;
  color: whitesmoke;
}

/* Style the testimonial images (if needed) */
/* Add these styles to your existing CSS file or create a new one */

/* Style for the testimonial image */
.testimonial-image {
  margin-top: 15px; /* Adjust the top margin as needed */
  float: center; /* Center the image */
}

.testimonial-image img {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto; /* Maintain the image's aspect ratio */
  border-radius: 10px; /* Add border-radius for rounded corners, adjust as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
  
}




/* Internal css */

body {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .playlist-date {
      display: none !important;
  }
  .playlist-row{
      display: flex !important;
      justify-content: space-between !important;
  }
  .playlist-arena{
      width: 30% !important;
  }
  
}
.icon-search{
  display: flex;
  justify-content: end;
  margin-top: -24px;
}

.main-head {
  background-image: url("main.png");
  background-color: rgba(0, 0, 0, .2);
  background-blend-mode: multiply;
  background-size: cover;
  color: white;
  padding-bottom: 200px;
  text-align: center;
  
}

.main-nav {
  border-bottom: 1px sold rgba(255, 255, 255, .3)
}

.main-nav li {
  padding: 0 3%;
}
nav li{
  display: inline;
  color: white;
  
}

nav a{
  text-decoration: none;
  display: inline-block;
  padding: .5em;
  color: white
  
}
nav a:hover{
  background-color: gray;
  /* padding-right: 12px;
  padding-left: 12px; */
  
}

header h1 {
  padding-top: 150px;
  font-family: sans-serif;
}

.content-section {
  margin: .5em;
  
  
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.about-image {
  float: left;
  height: 200px;
  width: 200px;
  margin: 10px;
  border-radius: 50%;
}

.main-footer {
  background-color: rgb(22, 14, 69);
  color: white;
  padding: .80em 0;
  margin-top:50px ;
}

footer li {
  display: inline-block;
  margin: 0 20px;
  
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

footer li a:hover {
  background-color: silver;
}
.btn {
  cursor: pointer;
  color: coral;
  padding: 10px;
  border: solid 1px grey;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 50%;

}
.btn:hover{
  background-color:darkgray;
  cursor: pointer;
  
  
}

.btn-header {
  cursor: pointer;
  color: white;
  padding: 10px;
  border: solid 1px grey;
  background-color: rgba(255, 255, 255, .1);
}

.btn-header:hover {
  background-color: darkslategray;
}

.playlist-row {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;

}
.playlist-number {
  display: inline-block;
  color: #555;
  font-weight: bold;
  padding-right: .5em;
  width: 29%;
}

.playlist-item {
  display: inline-block;
  padding-right: .5em;
  width: 30%;
  align-items: center;
}

.playlist-arena {
  display: inline-block;
  padding-right: .5em;
  width: 25%;
}



.playlist-row:last-child {
  border-bottom: none;
}

.btn-play {
  cursor: pointer;
  
  background-color: rgba(255, 255, 255, .4); 
  color:orange;
  padding: 5px 20px;
  border: 1px solid palevioletred;
  border-radius: 5px;
  height: 33px;
  width: 55px;
  font-size: 18px;
}
.btn-store {
  cursor: pointer;
  
  background-color: rgb(22, 14, 69);
  color:white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
}

.btn-store:hover {
  background-color:chocolate;
}

.btn-play:hover {
  background-color:chocolate;
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  font-weight: bold;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.shop-item-image {
  height: 250px;
  border-radius: 20px;
  
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.play {
  
  align-items: center;
  height: 50px;
  
}

.cart-header {
  font-weight: bold;
  font-size: 1.2em;

}
.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}
.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
}

.cart-quantity {
  width: 35%;
}

.cart-item-image {
  width: 65px;
  height: auto;
  border-radius: 10px;
}

.cart-item-title {
  margin-left: .5em;
  font-size: 1em;
  
}

.btn-danger {
  color: white;
  background-color: rgb(138, 130, 130);
  height: 34px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1em;
}

.btn-danger:hover{
  background-color: rgb(69, 66, 66);
}

.cart-input {
  background-color: #eee;
  border: 1px black solid;
  width: 30px;
  height: 29px;
  border-radius: 4px;
  text-align: center;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 10px;
}

.cart-total-price {
  font-size: 1.1em;
  color: #333;
}

.cart-total-purchase {
  display: block;
  margin: 40px auto 60px auto;
  background-color:rgb(22, 14, 69);
  color: white;
  border: none;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  font-size: 1.5em;
}

.cart-total-purchase:hover {
  background-color: green;
  
}

.social {
  cursor: pointer;
}